<div class="factory" aria-hidden="true">
<div class="factory__label">
<span>THE BUILD FLOOR</span>
<span>EST. 2026</span>
</div>
<div class="factory__orbit">
</div>
<div class="browser-card">
<div class="browser-card__chrome">
<span>● ● ●</span>
<span>Built for what’s next ↗</span>
</div>
<div class="browser-card__canvas">
<div class="browser-card__brand">YOUR NEXT CHAPTER.</div>
<div class="browser-card__headline">Less waiting.<br>More doing.</div>
<div class="browser-card__line">
</div>
<div class="browser-card__line browser-card__line--short">
</div>
<div class="browser-card__button">Let’s get started ↗</div>
<div class="browser-card__shape">
</div>
</div>
</div>
<div class="factory__stamp">
<span aria-hidden="true">↗</span>
<strong>Made to<br>move you.</strong>
</div>
<div class="factory__rail">
<span>01 BRIEF</span>
<span>02 DESIGN</span>
<span>03 BUILD</span>
<span>04 LAUNCH ↗</span>
</div>
</div>
